<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AeRenderPath" value="C:\Program Files\Adobe\Adobe After Effects CS5.5\Support Files\aerender.exe"/>
    <add key="OutputPath" value="c:\Files\f\OutPut\"/>
    <add key="AeProjectFile" value="C:\Users\admin\Desktop\top story--new\top story--new.aep"/>
    <add key="ImagePath" value="C:\files\f\"/>
    <add key="RenderIntervalMin" value="1"/>
    <add key="Composition" value="Comp 1"/>
    <add key="WebUrl" value="http://www.presstv.ir"/>
    <add key="OutPutFileName" value="TopStory"/>
    <add key="ImagesCount" value="6"/>
    <add key="WaitForBetweenImagesSec" value="5"/>
    <add key="WaitForSiteLoadSec" value="1"/>
    <add key="ScheduleDestFileName" value="D:\FINAL\ComingUp.mp4"/>
  </appSettings>
</configuration>